<div class="container">
    <fieldset ng-disabled="state.formDisabled">

        <legend>{{ state.mode }} Product Form</legend>

        <form class="form" name="productForm">
            <div class="row">

                <!--====================PRODUCT NAME======================-->
                <div class="col-sm-4" ng-form="formName">
                    <div class="form-group"
                         ng-class="{'has-error': formName.$invalid}">
                        <label>Product Name:</label>
                        <input type="text"
                               class="form-control"
                               ng-model="product.name" placeholder="Name"
                               required>
                    </div>
                </div>


                <!--====================PRODUCT PRICE======================-->
                <div class="col-sm-4" ng-form="formPrice">
                    <div class="form-group"
                         ng-class="{'has-error': formPrice.$invalid}">
                        <label>Product Price:</label>
                        <input type="number" ui-validate
                               class="form-control"
                               ng-model="product.price" placeholder="Price">
                    </div>
                </div>


                <!--====================PRODUCT COLOR======================-->
                <div class="col-sm-4" ng-form="formColor">
                    <div class="form-group">
                        <label style="color:{{ product.color }}">Color</label>
                        <select data-ng-model="product.color"
                                class="form-control"
                                data-ng-options="color for color in colors"></select>
                    </div>
                </div>


            </div>

            <!--====================PRODUCT DESCRIPTION======================-->
            <div class="form-group" ng-form="formcontrol"
                 ng-class="{'has-error': formcontrol.$invalid}">
                <lable>Description</lable>
                <textarea rows="6" data-ng-model="product.description"
                          class="form-control"
                          placeholder="Enter a description...."></textarea>
            </div>


            <!--====================FORM CONTROLS======================-->
            <div class="form-group">
                <a class="btn btn-primary"
                   ng-click="saveProduct(product)"
                   ng-disabled="productForm.$invalid"
                   ng-show="state.showSave">Save</a>
                <a class="btn btn-default" ui-sref="products.list">Close</a>
                <a class="btn btn-danger pull-right"
                   ng-click="deleteProduct(product)"
                   ng-show="state.showDelete">
                    <i class="fa fa-trash"></i>
                </a>
            </div>


        </form>

    </fieldset>
</div>
